# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environments
venv/
.venv/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment Variables
.env
